<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlun.system.dao.IModelDao" >

    <select id="getAllModels" parameterType="java.util.Map" resultType="ModelModel">
        SELECT
            model.id_ AS id,
            model.name_ AS modelName,
            model.key_ AS modelKey,
            model.category_ AS category,
            model.version_ AS version,
            model.meta_info_ AS metaInfo,
            model.deployment_id_ AS deploymentId,
            CASE WHEN deployment_id_ IS NOT NULL THEN true ELSE false END AS deployStatus,
            model.create_time_ AS createTime,
            model.last_update_time_ AS modifiedTime,
            deploy.deploy_time_ AS deployTime
        FROM act_re_model model
        LEFT JOIN act_re_deployment deploy ON model.deployment_id_ = deploy.id_
        WHERE 1 = 1 AND model.name_ != ''
        <include refid="queryModelsCondition" />
        ORDER BY model.create_time_ DESC
        OFFSET #{currentPage} LIMIT #{pageSize}
    </select>

    <select id = "getModelsCount" parameterType="java.util.Map" resultType = "java.lang.Integer">
        SELECT COUNT(id_) FROM act_re_model
        WHERE 1 = 1 AND name_ != ''
        <include refid="queryModelsCondition" />
    </select>

    <sql id="queryModelsCondition">
        <if test="modelName != null and modelName != ''">
            AND model.name_ LIKE CONCAT('%', #{modelName}, '%')
        </if>
        <if test="modelKey != null and modelKey != ''">
            AND model.key_ LIKE CONCAT('%', #{modelKey}, '%')
        </if>
        <if test="createTime != null and createTime != ''">
            AND model.create_time_ = #{createTime}
        </if>
    </sql>

    <select id="getModelBytearrays" parameterType="java.util.Arrays" resultType="java.util.Map">
        SELECT
            editor_source_value_id_ AS valueId,
            editor_source_extra_value_id_ AS extraValueId
        FROM act_re_model
        WHERE id_ IN
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <delete id="batchDeleteModel" parameterType="java.util.Arrays">
        DELETE FROM act_re_model WHERE id_ IN
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="batchDeleteModelBytearray" parameterType="java.util.List">
        DELETE FROM act_ge_bytearray WHERE id_ IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>
